# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nyswjttnzstjnbcrmffw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Pakasir
NEXT_PUBLIC_PAKASIR_SLUG=kiosk-wa
NEXT_PUBLIC_PAKASIR_API_KEY=your_api_key_here

# Store
NEXT_PUBLIC_STORE_ID=f0839015-e921-41f2-9a9e-0984029054ce
