# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Pakasir (Payment Gateway)
NEXT_PUBLIC_PAKASIR_SLUG=kiosk-wa
NEXT_PUBLIC_PAKASIR_API_KEY=EgYOj0rhf8ZiT7820bVHfA0drNBWigor

# Wazapin (WhatsApp Gateway)
NEXT_PUBLIC_WAZAPIN_API_KEY=your-wazapin-key
